@import url(./reset.css);

*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.main_title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
    color: #000;
    font-weight: 500;
    line-height: 1.2;
    font-size: 16px;
}


.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    min-height: 100vh;
    background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
}

.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.logo {
    transition: transform 1s ease;
}

.logo:hover {
    transform: rotateX(360deg);
}

.menu_list {
    display: flex;
    gap: 40px;
    align-items: center;
    font-weight: 700;
}

.menu_item {
    transition: transform 0.3s ease-in-out;
}

.menu_item:hover {
    transform: scale(1.1);
}


.menu_btn {
    text-transform: uppercase;
    padding: 15px 58px;
    background-color: #000;
    border-radius: 30px;
    font-weight: 700;
    color: #fff;
}

.header_content_img {
    text-align: center;
    padding-bottom: 50px;
}

.title {
    font-size: 210px;
    font-weight: 700;
    position: absolute;
    padding-top: 110px;
}

.title--pod {
    position: relative;
    z-index: -1;
}

.title--m {
    display: inline-block;
    transform: translate(-30px, 295px);
}

.title--ax {
    position: relative;
    display: inline-block;
    transform: translate(-40px, 295px);
    z-index: -1;
}

.choose_color_title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    max-width: 555px;
    margin: 0 auto 20px;   
}

.choose_color_text {
    max-width: 555px;
    margin: 0 auto 80px;
}

.choose_color {
    padding: 45px 0 0;
    text-align: center;
}

.choose_color_list {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 80px;
}

.choose_color_btn {
    border-radius: 20px;
    border: 1px solid #777;
    padding: 50px 55px;
    transition: transform 0.3s ease-in-out;
}


.choose_color_btn:hover {
    transform: scale(1.05);
}

.composition {
    margin-bottom: 180px;
    margin-top: 180px;
}

.composition_title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}

.composition_text {
    max-width: 655px;
    text-align: center;
    margin: 0 auto 40px;
}

.composition_inner {
    max-width: 625px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.composition_inner_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.composition_inner_text p{
    width: 230px;
}

.advantages {
    background: #FAFAFA;
}

.advantages_title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 40px;
}

.advantages_text {
   text-align: center;
   padding-bottom: 40px; 
}

.case_photo {
    text-align: center;
}

.advantages_hourse {
    font-weight: 700;
    font-size: 210px;
    text-align: center;
}

.advantages_text_min {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.advantages_text_min span {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.footer {
    padding-top: 250px 0 0 0;
    /* background-color: #000 ; */
}

.audio {
    background-image: url(../img/man.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.audio_inner {
    min-height: 200vh;
}

.footer-title {
    color: #FAFAFA;
    font-weight: 700;
}
/* 
.footer-text-number {

} */

/* @media screen and (min-width: 768px) {
} */

